.componentWrapper {
    display: flex;
    flex-direction: column;
    height: 55px;
}

.inputWrapper {
    width: max-content;
}

.input {
    border-radius: 5px;
    border: 2px solid #1976d2;
    padding: 5px;
    outline: none;
}

.inputError {
    border: 2px solid red;
}

.btn {
    font-weight: bold;
    color: white;
    background-color: #1976d2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 10px;
}
